#############################################
# dbt artifacts
#############################################

target/
dbt_packages/
logs/
main_pipeline/seeds/*.csv

#############################################
# DuckDB local database
#############################################

lw.duckdb

#############################################
# Python environment
#############################################

lw_venv/
__pycache__/
*.pyc
*.pyo
*.pyd